
body {
    background-image: url("/img/2546176.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.corm {
    font-family: 'Cormorant', serif;
    color: antiquewhite;
}

.btn {
    background-color: tan;
}