.anime {
    opacity: 1;
    animation: fade 6s linear forwards;
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

body {
    background-image: url("/img/2546176.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.corm {
    font-family: 'Cormorant', serif;
    color: antiquewhite;
}

.buttonstyle {
    background-color: tan;
    border-radius: .25em;
}

.little{
    --bs-text-opacity: .5;
}